[Unit]
Description=Rium GM Dosimeter Reader Service
After=multi-user.target
Wants=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=%h/OR_RiumGM_fixedbeacon
ExecStart=/usr/bin/python3 %h/OR_RiumGM_fixedbeacon/read_dosimeter.py --send-data --production
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target